@font-face {
  font-family: 'FontAwesome';
  src: url('../../../assets/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../../../assets/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../../../assets/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../../../assets/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../../../assets/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../../../assets/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


.add-to-do input:-moz-placeholder { 
  color: #4162f6;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-plus-circle {
  before {
  content: "\f055";
}
}

.add-to-do { 
  i {
  position: absolute;
  font-size: 40px;
  color: #4162f6;
  }
}

.add-to-do {
  input {
  position: absolute;
  height: 35px;
  width: 360px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding-left:50px;
  }
}
.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #4162f6;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}
.add-to-do input::-moz-placeholder { /* Firefox 19+ */
  color: #4162f6;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}
.add-to-do input:-ms-input-placeholder { /* IE 10+ */
  color: #4162f6;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}
.add-to-do input:-moz-placeholder { /* Firefox 18- */
  color: #4162f6;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}
